<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<nav>
  <ul class="nav nav-pills nav-fill">    
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard Component</a>
    </li>
    <li class="nav-item">
      <a routerLink="/latestNews">LatestNews Component</a>
    </li>
    <li class="nav-item">
      <a routerLink="/precautions">Precaution Component</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
